In [3]:
import pandas as pd

In [4]:
data1 = pd.read_csv('../data/uncleaned/ckd1.csv')
data1.drop(columns=['Unnamed: 4'],inplace=True)

In [5]:
data1.head()

,bp (Diastolic),bp limit,sg,al,rbc,su,pc,pcc,ba,bgr,...,dm,cad,appet,pe,ane,grf,stage,age,class,affected
0,0,0,1.019 - 1.021,01-Jan,0,< 0,0,0,0,< 112,...,0,0,0,0,0,? 227.944,s1,< 12,ckd,1
1,0,0,1.009 - 1.011,< 0,0,< 0,0,0,0,112 - 154,...,0,0,0,0,0,? 227.944,s1,< 12,ckd,1
2,0,0,1.009 - 1.011,? 4,1,< 0,1,0,1,< 112,...,0,0,1,0,0,127.281 - 152.446,s1,< 12,ckd,1
3,1,1,1.009 - 1.011,03-Mar,0,< 0,0,0,0,112 - 154,...,0,0,0,0,0,127.281 - 152.446,s1,< 12,ckd,1
4,0,0,1.015 - 1.017,< 0,0,< 0,0,0,0,154 - 196,...,1,0,1,1,0,127.281 - 152.446,s1,Dec-20,ckd,1

In [6]:
data1.columns

Index(['bp (Diastolic)', 'bp limit', 'sg', 'al', 'rbc', 'su', 'pc', 'pcc',
       'ba', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc', 'wbcc',
       'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'grf', 'stage', 'age',
       'class', 'affected'],
      dtype='object')

In [7]:
data1.dtypes

bp (Diastolic)     int64
bp limit           int64
sg                object
al                object
rbc                int64
su                object
pc                 int64
pcc                int64
ba                 int64
bgr               object
bu                object
sod               object
sc                object
pot               object
hemo              object
pcv               object
rbcc              object
wbcc              object
htn                int64
dm                 int64
cad                int64
appet              int64
pe                 int64
ane                int64
grf               object
stage             object
age               object
class             object
affected           int64
dtype: object

In [8]:
categ_data = data1.select_dtypes('object')

In [9]:
import re

# Function to replace '? num' with '> num'
def replace_question_mark(val):
    if isinstance(val, str):
        return re.sub(r'\? (\d+(\.\d+)?)', r'> \1', val)
    return val

# Apply the function to each element in the DataFrame
categ_data = categ_data.applymap(replace_question_mark)

In [10]:
categ_data.loc[(categ_data.age == 'Dec-20'), 'age']='12 - 20'
categ_data['age'].value_counts()

age
59 - 66    48
66 - 74    34
51 - 59    33
43 - 51    31
27 - 35    14
35 - 43    12
20 - 27    10
> 74       10
< 12        4
12 - 20     4
Name: count, dtype: int64

In [11]:
categ_data.al = categ_data.al.map({'< 0':'< 0', '02-Feb':'2', '03-Mar':'3', '01-Jan':'1','> 4':'> 4'})
categ_data['al'].value_counts()

al
< 0    116
2       27
3       23
1       21
> 4     13
Name: count, dtype: int64

In [12]:
categ_data['su']=categ_data['su'].map({'< 0':'< 0', '02-Feb':'2 - 3','03-Apr':'3 - 4','04-Apr':'3 - 4','01-Feb':'1 - 2', '> 4':'> 4'})
categ_data['su'].value_counts()

su
< 0      170
3 - 4     14
2 - 3      9
1 - 2      6
> 4        1
Name: count, dtype: int64

In [13]:
categ_data.loc[(categ_data.grf == ' p '), 'grf'] = ' '
categ_data['grf'].value_counts()

grf
< 26.6175            68
26.6175 - 51.7832    38
51.7832 - 76.949     28
76.949 - 102.115     17
102.115 - 127.281    15
127.281 - 152.446    11
152.446 - 177.612     9
177.612 - 202.778     8
202.778 - 227.944     3
> 227.944             2
                      1
Name: count, dtype: int64

In [14]:
for col in categ_data.columns:
    print(categ_data[col].value_counts())
    print()

sg
1.019 - 1.021    75
1.009 - 1.011    45
> 1.023          41
1.015 - 1.017    36
< 1.007           3
Name: count, dtype: int64

al
< 0    116
2       27
3       23
1       21
> 4     13
Name: count, dtype: int64

su
< 0      170
3 - 4     14
2 - 3      9
1 - 2      6
> 4        1
Name: count, dtype: int64

bgr
112 - 154    79
< 112        70
196 - 238    14
154 - 196    13
238 - 280    11
406 - 448     4
280 - 322     4
> 448         3
364 - 406     1
322 - 364     1
Name: count, dtype: int64

bu
< 48.1           108
48.1 - 86.2       53
86.2 - 124.3      16
124.3 - 162.4     11
200.5 - 238.6      5
162.4 - 200.5      5
> 352.9            1
238.6 - 276.7      1
Name: count, dtype: int64

sod
133 - 138    92
138 - 143    49
143 - 148    22
128 - 133    14
148 - 153     9
123 - 128     6
< 118         4
118 - 123     3
> 158         1
Name: count, dtype: int64

sc
< 3.65          159
3.65 - 6.8       22
6.8 - 9.95        9
13.1 - 16.25      4
9.95 - 13.1       4
16.25 - 19.4      1
> 28.85           1
Name: count, dtype: int64

pot
< 7.31           197
> 42.59            1
7.31 - 11.72       1
38.18 - 42.59      1
Name: count, dtype: int64

hemo
11.3 - 12.6    49
10 - 11.3      28
13.9 - 15.2    26
8.7 - 10       23
15.2 - 16.5    20
12.6 - 13.9    19
> 16.5         15
7.4 - 8.7      12
< 6.1           4
6.1 - 7.4       4
Name: count, dtype: int64

pcv
37.4 - 41.3    56
41.3 - 45.2    29
33.5 - 37.4    23
29.6 - 33.5    22
> 49.1         19
25.7 - 29.6    18
45.2 - 49.1    17
21.8 - 25.7    10
< 17.9          3
17.9 - 21.8     3
Name: count, dtype: int64

rbcc
4.46 - 5.05    96
5.05 - 5.64    23
3.28 - 3.87    21
3.87 - 4.46    21
5.64 - 6.23    18
6.23 - 6.82     9
2.69 - 3.28     7
< 2.69          4
> 7.41          1
Name: count, dtype: int64

wbcc
7360 - 9740      98
4980 - 7360      47
9740 - 12120     29
< 4980           10
12120 - 14500     6
14500 - 16880     6
16880 - 19260     2
> 24020           1
19260 - 21640     1
Name: count, dtype: int64

grf
< 26.6175            68
26.6175 - 51.7832    38
51.7832 - 76.949     28
76.949 - 102.115     17
102.115 - 127.281    15
127.281 - 152.446    11
152.446 - 177.612     9
177.612 - 202.778     8
202.778 - 227.944     3
> 227.944             2
                      1
Name: count, dtype: int64

stage
s1    54
s4    45
s2    35
s5    35
s3    31
Name: count, dtype: int64

age
59 - 66    48
66 - 74    34
51 - 59    33
43 - 51    31
27 - 35    14
35 - 43    12
20 - 27    10
> 74       10
< 12        4
12 - 20     4
Name: count, dtype: int64

class
ckd       128
notckd     72
Name: count, dtype: int64

In [15]:
data1[data1.select_dtypes('object').columns]=categ_data[categ_data.columns]

In [16]:
for col in data1.columns:
    print(data1[col].value_counts())

bp (Diastolic)
1    108
0     92
Name: count, dtype: int64
bp limit
0    95
1    59
2    46
Name: count, dtype: int64
sg
1.019 - 1.021    75
1.009 - 1.011    45
> 1.023          41
1.015 - 1.017    36
< 1.007           3
Name: count, dtype: int64
al
< 0    116
2       27
3       23
1       21
> 4     13
Name: count, dtype: int64
rbc
0    175
1     25
Name: count, dtype: int64
su
< 0      170
3 - 4     14
2 - 3      9
1 - 2      6
> 4        1
Name: count, dtype: int64
pc
0    155
1     45
Name: count, dtype: int64
pcc
0    173
1     27
Name: count, dtype: int64
ba
0    189
1     11
Name: count, dtype: int64
bgr
112 - 154    79
< 112        70
196 - 238    14
154 - 196    13
238 - 280    11
406 - 448     4
280 - 322     4
> 448         3
364 - 406     1
322 - 364     1
Name: count, dtype: int64
bu
< 48.1           108
48.1 - 86.2       53
86.2 - 124.3      16
124.3 - 162.4     11
200.5 - 238.6      5
162.4 - 200.5      5
> 352.9            1
238.6 - 276.7      1
Name: count, dtype: int64
sod
133 - 138    92
138 - 143    49
143 - 148    22
128 - 133    14
148 - 153     9
123 - 128     6
< 118         4
118 - 123     3
> 158         1
Name: count, dtype: int64
sc
< 3.65          159
3.65 - 6.8       22
6.8 - 9.95        9
13.1 - 16.25      4
9.95 - 13.1       4
16.25 - 19.4      1
> 28.85           1
Name: count, dtype: int64
pot
< 7.31           197
> 42.59            1
7.31 - 11.72       1
38.18 - 42.59      1
Name: count, dtype: int64
hemo
11.3 - 12.6    49
10 - 11.3      28
13.9 - 15.2    26
8.7 - 10       23
15.2 - 16.5    20
12.6 - 13.9    19
> 16.5         15
7.4 - 8.7      12
< 6.1           4
6.1 - 7.4       4
Name: count, dtype: int64
pcv
37.4 - 41.3    56
41.3 - 45.2    29
33.5 - 37.4    23
29.6 - 33.5    22
> 49.1         19
25.7 - 29.6    18
45.2 - 49.1    17
21.8 - 25.7    10
< 17.9          3
17.9 - 21.8     3
Name: count, dtype: int64
rbcc
4.46 - 5.05    96
5.05 - 5.64    23
3.28 - 3.87    21
3.87 - 4.46    21
5.64 - 6.23    18
6.23 - 6.82     9
2.69 - 3.28     7
< 2.69          4
> 7.41          1
Name: count, dtype: int64
wbcc
7360 - 9740      98
4980 - 7360      47
9740 - 12120     29
< 4980           10
12120 - 14500     6
14500 - 16880     6
16880 - 19260     2
> 24020           1
19260 - 21640     1
Name: count, dtype: int64
htn
0    122
1     78
Name: count, dtype: int64
dm
0    130
1     70
Name: count, dtype: int64
cad
0    178
1     22
Name: count, dtype: int64
appet
0    160
1     40
Name: count, dtype: int64
pe
0    165
1     35
Name: count, dtype: int64
ane
0    168
1     32
Name: count, dtype: int64
grf
< 26.6175            68
26.6175 - 51.7832    38
51.7832 - 76.949     28
76.949 - 102.115     17
102.115 - 127.281    15
127.281 - 152.446    11
152.446 - 177.612     9
177.612 - 202.778     8
202.778 - 227.944     3
> 227.944             2
                      1
Name: count, dtype: int64
stage
s1    54
s4    45
s2    35
s5    35
s3    31
Name: count, dtype: int64
age
59 - 66    48
66 - 74    34
51 - 59    33
43 - 51    31
27 - 35    14
35 - 43    12
20 - 27    10
> 74       10
< 12        4
12 - 20     4
Name: count, dtype: int64
class
ckd       128
notckd     72
Name: count, dtype: int64
affected
1    128
0     72
Name: count, dtype: int64

In [17]:
data1.drop(columns=['class'],inplace=True)

In [18]:
data1.drop(columns=['stage'],inplace=True)

In [19]:
data1[data1['affected']==1]

,bp (Diastolic),bp limit,sg,al,rbc,su,pc,pcc,ba,bgr,...,wbcc,htn,dm,cad,appet,pe,ane,grf,age,affected
0,0,0,1.019 - 1.021,1,0,< 0,0,0,0,< 112,...,7360 - 9740,0,0,0,0,0,0,> 227.944,< 12,1
1,0,0,1.009 - 1.011,< 0,0,< 0,0,0,0,112 - 154,...,12120 - 14500,0,0,0,0,0,0,> 227.944,< 12,1
2,0,0,1.009 - 1.011,> 4,1,< 0,1,0,1,< 112,...,14500 - 16880,0,0,0,1,0,0,127.281 - 152.446,< 12,1
3,1,1,1.009 - 1.011,3,0,< 0,0,0,0,112 - 154,...,7360 - 9740,0,0,0,0,0,0,127.281 - 152.446,< 12,1
4,0,0,1.015 - 1.017,< 0,0,< 0,0,0,0,154 - 196,...,7360 - 9740,0,1,0,1,1,0,127.281 - 152.446,12 - 20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,0,0,1.015 - 1.017,1,0,< 0,0,0,0,< 112,...,7360 - 9740,1,0,0,0,0,0,26.6175 - 51.7832,> 74,1
194,0,0,1.015 - 1.017,2,0,< 0,1,1,0,196 - 238,...,12120 - 14500,1,0,0,1,1,1,< 26.6175,> 74,1
195,1,2,1.019 - 1.021,< 0,0,< 0,0,0,0,154 - 196,...,7360 - 9740,1,1,0,0,0,1,26.6175 - 51.7832,> 74,1
196,0,0,1.019 - 1.021,< 0,0,< 0,0,0,0,112 - 154,...,7360 - 9740,0,1,0,0,0,1,< 26.6175,> 74,1
199,1,1,1.009 - 1.011,2,0,2 - 3,0,0,0,112 - 154,...,9740 - 12120,1,1,0,0,0,0,< 26.6175,> 74,1

In [20]:
data1.to_csv('./data/cleaned/ckd1.csv')